/* Global components map
======================== */

$components : () !global;


/* Mixin to add component
========================= */

@mixin add-component($componentName, $componentVariationName: "default", $componentVariationOptions: ()) {
  $components: map-merge($components, (
      #{$componentName}: (
        $componentVariationName: $componentVariationOptions
      )
  )) !global;
}


/* Mixin to extend global components map
======================================== */

@mixin core-extend($componentName, $componentVariationName, $componentVariationOptions){
    // $components(all) > $component(ex: "inlineList") > $componentVariationName(ex: "dashboardModulesList")
    $components: core-extend($componentName, $componentVariationName, $componentVariationOptions);
}


/* Utils function to merge component options
============================================ */

@function core-extend($componentName, $componentVariationName, $componentVariationOptions){
    $component: map-get($components, $componentName);
    $componentVariation: map-get($component, $componentVariationName);

    $newComponentVariation: map-merge($componentVariation, $componentVariationOptions);
    $newComponent: map-merge($component, ($componentVariationName: $newComponentVariation));

    @return map-merge($components, ($componentName: $newComponent));
}
